.button-wrapper {
  margin: 40px 0;
  text-align: center;
}

.button-wrapper--small {
  margin: 20px 0;
}

.button {
  align-items: center;
  background-color: var(--color-button);
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 16px;
  text-transform: uppercase;
}

.button--disabled {
  opacity: 0.7;
  pointer-events: none;
}

.button__icon {
  display: block;
  flex: none;
  height: 16px;
  width: 16px;

  & svg {
    display: block;
  }
}

.button__label + .button__icon,
.button__icon + .button__label {
  margin-left: 8px;
}

.button--link {
  background-color: transparent;
  color: var(--color-button);
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  text-transform: inherit;

  & .button__label + .button__icon,
  & .button__icon + .button__label {
    margin-left: 4px;
  }
}
