@import url('https://markup.nieuwsblad.be/extra/assets/css/fonts.css');

html,
body {
  background: #fff !important;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}