@import url('https://markup.nieuwsblad.be/extra/assets/css/fonts.css');

html,
body {
  background: #fff !important;
}

html,
body,
#app {
  height: 100%;
}

#app {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.site-nav-bottom {
  display: none !important;
}
