@import url('https://markup.nieuwsblad.be/extra/assets/css/fonts.css');

html,
body {
  background: #fff !important;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  #app {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}