body {
  font-family: var(--font-family-text);
  font-size: 15px;
  line-height: 1.5;
}

p {
  margin: 0 !important;
}

p + p {
  margin-top: 10px !important;
}

strong {
  font-weight: bold;
}

a:not([class]) {
  color: var(--color-nb-blue);
}