body {
  font-family: var(--font-family-text);
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  color: var(--color-title);
  font-family: var(--font-family-title);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  margin-bottom: 20px;
}

p + p {
  margin-top: 10px;
}

strong {
  font-weight: bold;
}
